*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    --background-color: white;
    --text-color: black;
    --elements-color: white;
}
body.dark{
    --background-color: hsl(207,26%,17%);
    --text-color: white;
    --elements-color: hsl(209,23%,22%);
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 64px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--background-color);
    color: var(--text-color);
}
.header h2 a{
    text-decoration: none;
    color: inherit;
}
main{
    width: 100%;
    min-height: calc(100% - 70px);
    padding: 50px 64px;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.search-container{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container .input{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-inline: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.search-container .input input{
    width: 90%;
    padding: 16px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
}
.search-container .input input::placeholder{
    font-size: 20px;
}
.search-container .filter{
    width: 20%;
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--elements-color);
}
.search-container .filter .options{
    width: 100%;
    padding: 16px 10px;
    border-radius: 8px;
    font-size: 18px;
    border: 0;
    outline: 0;
    background-color: inherit;
    /* color: white; */
    color: var(--text-color);
}
.countries-container{
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.card-container{
    width: 260px;
    height: 350px;
    /* border: 1px solid black; */
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform .2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-container:hover{
    transform: scale(1.02);
}
.card-container img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    /* padding: 2px; */
    /* border-radius: 8px; */
}
.card-container .details{
    padding: 14px;
}
.card-container .details p{
    margin-top: 8px;
}

@media(min-width:350px) and (max-width:670px){
    .header{
        padding: 0 20px;
    }
    .header h2{
        font-size: 18px;
    }
    .header p{
        font-size: 16px;
    }
    main{
        padding: 26px 20px;
        justify-content: center;
    }
    .countries-container{
        align-items: center;
        justify-content: center;
    }
    .search-container{
        flex-direction: column;
        gap: 20px;
    }
    .search-container .input{
        width: 100%;
    }
    .search-container .filter{
        width: 100%;
    }
}